<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="container">
            <section>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <h1>Registro</h1>
                        <form action="/groups" method="POST" enctype="multipart/form-data">

                            <div class="field">
                                <label for="name">Nombre</label>
                                <div class="control">
                                    <input type="text" name="name" id="name">
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for="description">Descripción</label>
                                <div class="control">
                                    <textarea name="description" id="description"></textarea>
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for="repository">Repositorio</label>
                                <div class="control">
                                    <input type="text" name="repository" id="repository">
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button type="submit">Crear grupo</button>
                                </div>
                            </div> 
                        </form>  
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>